<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Twitter-->
        <add key="oAuthConsumerKey" value="dlwIzwzXwBTY0BiPei3Yg" />
        <add key="oAuthConsumerSecret" value="dorC5hwB8t0a3HlYbMkuW0tN2QClgdI8pahfRMEcJ8" />
        <add key="oAuthUrl" value="https://api.twitter.com/oauth2/token" />
        <add key="TimelineFormatFirstTime" value="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={0}&amp;include_rts={1}&amp;exclude_replies={2}{3}&amp;count={4}" />
        <add key="timelineFormatNotFirstTime" value="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={0}&amp;include_rts={1}&amp;exclude_replies={2}&amp;since_id={3}&amp;count={4}" />
        <add key="screenname" value="barakObama" />
        <add key="include_rts" value="1" />
        <add key="exclude_replies" value="0" />
        <add key="count" value="200" />
        <add key="searchFormat" value="https://api.twitter.com/1.1/search/tweets.json?q={0}" />
        <add key="searchQuery" value="%23test" />
        <!-- Log File  -->
        <add key="FolderPath" value="D:\Logs\TService\" />
        <!-- net SQL server  -->
        <add key="ConnectionString" value=" Data Source=tcp:esql2k801.discountasp.net;Initial Catalog=SQL2008_856748_ntrlabs;User ID=SQL2008_856748_ntrlabs_user;Password=bbking;connection timeout=3600"/>
        <add key="DefaultDB" value="SQL2008_856748_ntrlabs" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <!-- work SQL server
    
    <add key="ConnectionString" value="Data Source=WORK\HADASSQL;Initial Catalog=Dev;User ID=DevUser;Password=m4ffCr113P3vqOGGtuTW;connection timeout=3600" />
    <add key="DefaultDB" value="Dev" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    -->

    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>